div{width: 80%;
    margin:0 auto;
    height: 100vh;
    background-image: url("../oldnissancarpit.jpg");
    background-position: center;background-repeat: no-repeat;
}
img{    position: relative;
    left: 162px;
    border: 0.5px solid black;}









